/* ***************************
        VARIABLE 
******************************/
:root {
  --clr-1: #4d96a9;
  --clr-2: #855fb1;
  --clr-3: #28283d;
  --clr-4: #87879d;
  --clr-5: #8fe3f9;
  --clr-6: #d9b8ff;
  --clr-7: #fafafa;
  --ff: "Red Hat Display", sans-serif;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-40: 40px;
  --fs-64: 64px;
  --radius: 29px;
}
/* ***************************
        lAYOUT 
******************************/
body {
  font-family: var(--ff);
}
.wrapper {
  max-width: 90rem;
  margin-inline: auto;
}
.container {
  width: 80%;
  margin-inline: auto;
}
/* ***************************
        MEDIAQUERIES 
******************************/
